body {
    background: linear-gradient(white,gray);;
}
header {
    text-align: center;
}
.box {
    border:2px solid #000;
    height: 200px;
    text-align: center;
    padding-top: 55px;
}
.letter {
    font-size: 64px;
    text-align: center;

}
#winner {
    position: absolute;
    top: 266px;
    font-size: 135px;
    left: 479px;
    color: #fff;
    background: #000;
    box-shadow: -6px 7px 10px #000, 13px 10px 10px #000;
}
#reset {
    font-size: 40px;
    margin-left: 450px;
}